<a href="https://colab.research.google.com/github/Enz-Lima/PythonBegins/blob/main/PRATIC03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = float(input('Insira o 1º valor: '))
y = float(input('Insira o 2º valor: '))

if (x > y):
  print('O valor {} é maior que o valor {}'.format(x, y))
elif (x < y):
  print('O valor {} é maior que o valor {}'.format(y,))
else:
  print('Os valores {} e {} são equivalentes.'.format(x, y))

Insira o 1º valor: 5
Insira o 2º valor: 5
Os valores 5.0 e 5.0 são equivalentes.

In [ ]:
x = int(input('Insira o primeiro valor: '))
x += 1
for c in range(x):
  if (c % 2 == 0):
    print('O valor {} é par.'.format(c))
  else:
    print('O valor {} é impar.'.format(c))

  if (c % 7 == 0):
    print('O valor {} é multiplo de 7.'.format(c))
  else:
    print('O valor {} não é multiplo de 7.' .format(c))

In [ ]:
ano_nasc = int(input('Insira o ano de nascimento: '))
ano_atual = int(input('Insira o ano atual: '))

idade = ano_atual - ano_nasc
 
if (idade >= 18): 
   print('Você é maior de idade.')

else:
  print('Você é menor de idade.')

Insira o ano de nascimento: 2004
Insira o ano atual: 2022
Você é maior de idade.

In [ ]:
salario = float(input('Insira o salário: '))
time = int(input('Insira o tempo de empresa: '))

if (time >= 5):
  bonus = salario * 0.2
  print('O seu salário atual é de: {}'.format(salario))
  print('A sua bonificação foi {}' .format(bonus))
  print('Seu pagamento total foi de: {}'.format(salario + bonus))
else:
  bonus = salario * 0.1
  print('O seu salário atual é de: {}'.format(salario))
  print('A sua bonificação foi {}'.format(bonus))
  print('Seu pagamento total foi de: {}'.format(salario + bonus))

Insira o salário: 2000
Insira o tempo de empresa: 4
O seu salário atual é de: 2000.0
A sua bonificação foi 200.0
Seu pagamento total foi de: 2200.0

In [ ]:
x = True
y = False

print(not x)
print(not y)

False
True

In [ ]:
x = True
y = False
print(x and y)

False

In [ ]:
x = True
y = False
print(x or y)

True

In [ ]:
x = 10
y = 1
res = not x > y
print(res)

False

In [ ]:
x = 10
y = 1
z = 5.5
res = x > y and z == y
print(res)

False

In [ ]:
x = 10
y = 1
z = 5.5
res = x > y or z == y
print(res)

True

In [ ]:
x = 10
y = 1
z = 5.5
res = x > y or not z == y and y != y + z / x
print(res)

True

In [ ]:
A = 1
B = 2
C = 3
X = 20
Y = 10
Z = -1
v1 = True
v2 = False
nome = 'Pedro'
rua = 'Pedrinho'

print((A + C) / B)
print(C / B / A)
print(-X**B)
print((-X)**B)
print(v1 or v2)
print(v1 and not v2)
print(v2 and not v1)
print(not nome == rua)
print(v1 and not v2 or v2 and not True)
print(X > Y and C <= B)
print(C-3*A < X + 2*Z)

2.0
1.5
-400
400
True
True
False
True
True
False
True

In [ ]:
materia1 = str(input('Insira o nome da 1º matéria: '))
n1m1 = float(input('Insira a sua primeira nota: '))
n2m1 = float(input('Insira a sua segunda nota: '))
n3m1 = float(input('Insira a sua terceira nota: '))

materia2 = str(input('Insira o nome da 2º matéria: '))
n1m2 = float(input('Insira a sua primeira nota: '))
n2m2 = float(input('Insira a sua segunda nota: '))
n3m2 = float(input('Insira a sua terceira nota: '))

materia3 = str(input('Insira o nome da 3º matéria: '))
n1m3 = float(input('Insira a sua primeira nota: '))
n2m3 = float(input('Insira a sua segunda nota: '))
n3m3 = float(input('Insira a sua terceira nota: '))

calc_m1 = (n1m1 + n2m1 + n3m1) / 3
calc_m2 = (n1m2 + n2m2 + n3m2) / 3
calc_m3 = (n1m3 + n2m3 + n3m3) / 3

if calc_m1 >= 7 and calc_m2 >= 7 and calc_m3 >= 7:
  print('Aluno aprovado')
elif (calc_m1 >= 5 and calc_m1 < 7) and (calc_m2 >= 5 and calc_m2 < 7) and (calc_m3 >= 5 and calc_m3 < 7):
  print('Aluno em recuperação')
else:
  print('Aluno reprovado')

In [ ]:
print('O que gostaria de comprar: ')
print('1, Maçã')
print('2, Laranja')
print('3, Banana')

produto = int(input('Qual sua opção?'))
qtd = int(input('Digite a quantidade: '))

if produto == 1:
  calc = qtd * 2.3
  print('O total foi de: R$ {}'.format(calc))
else:
  if produto == 2:
    calc = qtd * 3.6
    print('O total foi de R$ {}'.format(calc))
  else:
    if produto == 3:
      calc = qtd * 1.85
      print('O total foi de R$ {}'.format(calc))
    else:
      print('Produto inexistente')

In [ ]:
n1 = int(input('Insira o valor do 1º lado: '))
n2 = int(input('Insira o valor do 2º lado: '))
n3 = int(input('Insira o valor do 3º lado: '))

if n1 > 0 and n2 > 0 and n3 > 0:
  if n1 + n2 > n3 and n2 + n3 > n1 and n1 + n3 > n2: # validação concluida
    if n1 == n2 and n1 == n3:
      print('Os lados formam um triangulo Equilátero.')
    elif n1 != n2 and n2 != n3 and n3 != n1:
      print('Os lados formam um triangulo escaleno.')
    else:
      print('Os lados formam um triangulo isóceles.')
  else:
    print('Ao menos um dos valores indicados não serve para formar um triângulo.')
else:
  print('Ao menos um dos lados atribuídos não pode integrar um triangulo.')

In [2]:
print('Escolha a operação a ser realizada.')
menu = int(input(' [1] Adição \n [2]Subtração \n [3]Multiplicação \n [4]Divisão'))

if menu == 1:
  n1 = float(input('Insira o 1º valor a ser somado: '))
  n2 = float(input('Insira o 2º valor a ser somado: '))
  calc = n1 + n2
elif menu == 2:
  n1 = float(input('Insira o 1º valor a ser subtraído: '))
  n2 = float(input('Insira o 2º valor a ser subtraído: '))
  calc = n1 - n2
elif menu == 3:
  n1 = float(input('Insira o 1º valor a ser multiplicado: '))
  n2 = float(input('Insira o 2º valor a ser multiplicado: '))

Escolha a operação a ser realizada.
 [1] Adição
 [2]Subtração
 [3]Multiplicação
 [4]Divisão