<a href="https://colab.research.google.com/github/Enz-Lima/PythonBegins/blob/main/PRATIC09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mochila = ('Machado', 'Camisa', 'Bacon', 'Abacate')
print(mochila)

('Machado', 'Camisa', 'Bacon', 'Abacate')

In [2]:
print(mochila[0]) # Print of 1º Element - Idx 0
print(mochila[2]) # Print of 3º Element - Idx 2
print(mochila[2]) # Print of Elements One and Two - Idx 0 e 1
print(mochila[2:]) # Print of Elements from 3º Element to the last
print(mochila[-1]) # Print of the last Element

Machado
Bacon
Bacon
('Bacon', 'Abacate')
Abacate

In [3]:
mochila[2] = 'Ovos'

TypeError: ignored

In [4]:
for item in mochila:
  print("In my bag've: {}".format(item))

In my bag've: Machado
In my bag've: Camisa
In my bag've: Bacon
In my bag've: Abacate

In [5]:
size = len(mochila)
for i in range(0, size, 1):
  print("In my bag've: {}".format(mochila[i]))

In my bag've: Machado
In my bag've: Camisa
In my bag've: Bacon
In my bag've: Abacate

In [7]:
bag = ('Machado', 'Camisa', 'Bacon', 'Abacate')
upgrade = ('Queijo', 'Canivete')
big_bag = bag + upgrade

print(bag)
print(upgrade)
print(big_bag)

('Machado', 'Camisa', 'Bacon', 'Abacate')
('Queijo', 'Canivete')
('Machado', 'Camisa', 'Bacon', 'Abacate', 'Queijo', 'Canivete')

In [8]:
reverse_big_bag = upgrade + bag
print(big_bag)
print(reverse_big_bag)

('Machado', 'Camisa', 'Bacon', 'Abacate', 'Queijo', 'Canivete')
('Queijo', 'Canivete', 'Machado', 'Camisa', 'Bacon', 'Abacate')

In [1]:
def sum(*num):
  sum = 0
  print('Tupla: {}'.format(num))
  for i in num:
    sum += i
  return sum

# Main program:
print('Result: {}\n'.format(sum(1,2)))
print('Result: {}\n'.format(sum(1,2,3,4,5,6,7,8,9)))

Tupla: (1, 2)
Result: 3

Tupla: (1, 2, 3, 4, 5, 6, 7, 8, 9)
Result: 45

In [2]:
# Exercise One
languages = ('Rust', 'TypeScript', 'Python', 'Kotlin', 'Go', 'Julia', 'Dart', 'C#', 'Swift', 'JavaScript',)
print('Top Ten programming languages most loved of 2020:')
print('(According to the Stack Overflow)')
for i in range(0, len(languages), 1):
  print(i+1, ' - ', languages[i])

print('\nTOP 3: ', languages[:3])
print('Last 5: ', languages[-5:])
i = 0
while (languages[i] != 'Python'):
  i += 1
print('We found Python in the {}st postion!'.format(i+1))

Top Ten programming languages most loved of 2020:
(According to the Stack Overflow)
1  -  Rust
2  -  TypeScript
3  -  Python
4  -  Kotlin
5  -  Go
6  -  Julia
7  -  Dart
8  -  C#
9  -  Swift
10  -  JavaScript

TOP 3:  ('Rust', 'TypeScript', 'Python')
Last 5:  ('Julia', 'Dart', 'C#', 'Swift', 'JavaScript')
We found Python in the 3st postion!

In [2]:
# Exercício 2
def bigger(msg, *num):
  bigger = 0
  for i in range(0, len(num), 1):
    if (num[i] > bigger):
      bigger = num[i]
  print(msg, bigger)

# Programa principal
bigger('Bigger: ',8,6,4,78,56,12,9)

Bigger:  78

In [3]:
bag = ('Machado', 'Camisa', 'Bacon', 'Abacate')
print('Tuple: {}'.format(bag))
bag = ['Machado', 'Camisa', 'Bacon', 'Abacate']
print('Lista: {}'.format(bag))

Tuple: ('Machado', 'Camisa', 'Bacon', 'Abacate')
Lista: ['Machado', 'Camisa', 'Bacon', 'Abacate']

In [4]:
bag[2] = 'Laranja'
print('Lista: {}'.format(bag))

Lista: ['Machado', 'Camisa', 'Laranja', 'Abacate']

In [5]:
bag.append('Ovos')
print('Lista: {}'.format(bag))

Lista: ['Machado', 'Camisa', 'Laranja', 'Abacate', 'Ovos']

In [6]:
bag.insert(1, 'Canivete')
print('Lista: {}'.format(bag))

Lista: ['Machado', 'Canivete', 'Camisa', 'Laranja', 'Abacate', 'Ovos']

In [8]:
del bag[1]
print('Lista: {}'.format(bag))
bag.remove('Ovos')
print('Lista: {}'.format(bag))

Lista: ['Machado', 'Laranja', 'Abacate', 'Ovos']
Lista: ['Machado', 'Laranja', 'Abacate']

In [10]:
# Same reference
x = [5, 7, 9, 11]
y = x
print(x)
print(y)

[5, 7, 9, 11]
[5, 7, 9, 11]

In [12]:
y[0] = 2
print(x)
print(y)

[2, 7, 9, 11]
[2, 7, 9, 11]

In [13]:
# Copy
x = [5, 7, 9, 11]
y = x[:]
print(x)
print(y)

[5, 7, 9, 11]
[5, 7, 9, 11]

In [14]:
y[0] = 2
print(x)
print(y)

[5, 7, 9, 11]
[2, 7, 9, 11]

In [1]:
bag = ['Machado', 'Camisa', 'Bacon', 'Abacate']
print(bag[0])

Machado

In [5]:
bag = ['Machado', 'Camisa', 'Bacon', 'Abacate']
print(bag[0][0])
print(bag[2][2])

M
c

In [6]:
bag = ['Machado', 'Camisa', 'Bacon', 'Abacate']
for item in bag:
  for letter in item:
    print(letter, end='')
  print()

Machado
Camisa
Bacon
Abacate

In [7]:
bag = ['Machado', 'Camisa', 'Bacon', 'Abacate']
for i in range(0, len(bag), 1):
  for j in range(0, len(bag[i]), 1):
    print(bag[i][j], end='')
  print()

Machado
Camisa
Bacon
Abacate

In [ ]:
item = []
mercado = []

for i in range(3):
  item.append(input('Digite o nome do item: '))
  item.append(int(input('Digite a quantidade: ')))
  item.append(float(input('Digite o valor: ')))
  mercado.append(item[:])
  item.clear()
print(mercado)

In [3]:
mercado = []

for i in range(3):
  nome = input('Digite o nome do item: ')
  qtd = int(input('Digite a quantidade: '))
  valor = float(input('Digite o valor: '))
  mercado.append([nome, qtd, valor])
print(mercado)

Digite o nome do item: Abacate
Digite a quantidade: 1
Digite o valor: 3.0
Digite o nome do item: Açucar
Digite a quantidade: 4
Digite o valor: 4
Digite o nome do item: Maça
Digite a quantidade: 5
Digite o valor: 2
[['Abacate', 1, 3.0], ['Açucar', 4, 4.0], ['Maça', 5, 2.0]]

In [4]:
# Qual o nome do primeiro produto?
print(mercado[0][0])
# Quanto custa um tomate ?
print(mercado[1][2])
# Quantos sacos de arroz foram comprados ?
print(mercado[2][1])

Abacate
4.0
5

In [5]:
soma = 0
print('Lista de compras:')
print('-' * 20)
print('Item | Quantidade | Valor unitário | Total do item')
for item in mercado:
  print('{} | {} | {} | {}'.format(item[0], item[1], item[2], item[1] * item[2]))
  soma += item[1] * item[2]
print('-' * 20)
print('Total a ser pago: {}'.format(soma))

Lista de compras:
--------------------
Item | Quantidade | Valor unitário | Total do item
Abacate | 1 | 3.0 | 3.0
Açucar | 4 | 4.0 | 16.0
Maça | 5 | 2.0 | 10.0
--------------------
Total a ser pago: 29.0

In [6]:
# Exercise One
try:
  grades = []
  x = float(input('Insert a grade: '))
  while x >= 0:
    grades.append(x)
    x = float(input('Insert a grade: '))
  sum = 0
  for i in grades:
    sum += i
  media = sum/len(grades)
  print(grades)
  print('Average of the grades typed: {}'.format(media))
except ZeroDivisionError:
  print("It's need to add a value to be calculated. Finishing...")

Insert a grade: 4.5
Insert a grade: 2.4
Insert a grade: 3.4
Insert a grade: 4.4
Insert a grade: 0
Insert a grade: 2.6
Insert a grade: -1
[4.5, 2.4, 3.4, 4.4, 0.0, 2.6]
Average of the grades typed: 2.8833333333333333

In [7]:
# Exercise 2
def sequentialSearch(lista, data):
  x = 0
  while x < len(lista):
    if (lista[x] == data):
      return x
    x += 1
  return -1

# Main program
test = [3, 7, 9, 1, 0, 7, 5, 12]
# Use the type of data that you want, enough to change here
data = int(input('Insert a integer value: '))
res = sequentialSearch(test,data)
if res >= 0:
  print('Position where the {} was been find: {}'.format(data, res + 1))
else:
  print('Data not found...')

Insert a integer value: 12
Position where the 12 was been find: 8

In [8]:
# Exercise 3
people = []

cmi = lambda weight, height: weight / (height * height)

while True:
  name = input('Name: ')
  height = float(input('Height (m): '))
  weight = int(input('Weight (kg): '))
  cmi_people = cmi(weight, height)
  people.append([name, weight, height, cmi_people])
  res = input('You want to register another people [Y/N]: ')
  if res in 'Nn':
    break
print('Registers: {}'.format(people))
print('Total of Registers: {}'.format(len(people)))
bigger = 0
smaller = 99
for i in range(0, len(people), 1):
  if people[i][3] > bigger:
    bigger = people[i][3]
  if people[i][3] < smaller:
    smaller = people[i][3]
print('Bigger CMI:',bigger)
print('Smaller CMI:',smaller)

Name: Enzo
Height (m): 1.92
Weight (kg): 72
You want to register another people [Y/N]: y
Name: Augusto
Height (m): 1.92
Weight (kg): 72
You want to register another people [Y/N]: N
Registers: [['Enzo', 72, 1.92, 19.53125], ['Augusto', 72, 1.92, 19.53125]]
Total of Registers: 2
Bigger CMI: 19.53125
Smaller CMI: 19.53125

In [1]:
bag = ['Axe', 'Shirt', 'Bacon', 'Papaya']
print('Tuple: {}'.format(bag))
bag = ['Axe', 'Shirt', 'Bacon', 'Papaya']
print('List: {}'.format(bag))
bag = {'Axe':1, 'Shirt':2, 'Bacon':3, 'Papaya':4}
print('Dictionary: {}'.format(bag))

Tuple: ['Axe', 'Shirt', 'Bacon', 'Papaya']
List: ['Axe', 'Shirt', 'Bacon', 'Papaya']
Dictionary: {'Axe': 1, 'Shirt': 2, 'Bacon': 3, 'Papaya': 4}

In [9]:
game = {'Name':'Super Mario', 'Developer':'Nintendo', 'Year':1990}
print(game)

{'Name': 'Super Mario', 'Developer': 'Nintendo', 'Year': 1990}

In [10]:
print(game['Name'])
print(game['Developer'])
print(game['Year'])

Super Mario
Nintendo
1990

In [11]:
print(game.values())

dict_values(['Super Mario', 'Nintendo', 1990])

In [12]:
for i in game.values():
  print(i)

Super Mario
Nintendo
1990

In [13]:
print(game.keys())

dict_keys(['Name', 'Developer', 'Year'])

In [14]:
for i in game.keys():
  print(i)

Name
Developer
Year

In [15]:
print(game.items())

dict_items([('Name', 'Super Mario'), ('Developer', 'Nintendo'), ('Year', 1990)])

In [16]:
for i,j in game.items():
  print('{} = {}'.format(i, j))

Name = Super Mario
Developer = Nintendo
Year = 1990

In [17]:
games = []
games1 = {'Name':'Super Mario', 'Console':'Super Nintendo', 'Year':1990}
games2 = {'Name':'Zelda Ocarina of Time', 'Console':'Nintendo 64', 'Year':1998}
games3 = {'Name':'Pokemon Yellow', 'Console':'Game Boy', 'Year':1999}

games = [games1, games2, games3]
print(games)

[{'Name': 'Super Mario', 'Console': 'Super Nintendo', 'Year': 1990}, {'Name': 'Zelda Ocarina of Time', 'Console': 'Nintendo 64', 'Year': 1998}, {'Name': 'Pokemon Yellow', 'Console': 'Game Boy', 'Year': 1999}]

In [19]:
game = {}
games = []
for i in range(3):
  game['Name'] = input("What's the name of the game? ")
  game['Console'] = input("What's the name of the console? ")
  game['Year'] = input("What's the year of release? ")
  games.append(game.copy())
print('-' * 20)
for e in games:
  for i,j in e.items():
    print('The field {} have the value {}'.format(i,j))

What's the name of the game? Super Mario
What's the name of the console? Super Nintendo
What's the year of release? 1990
What's the name of the game? Zelda Ocarina of Time
What's the name of the console? Nintendo 64
What's the year of release? 1998
What's the name of the game? Pokemon Yellow
What's the name of the console? Game Boy
What's the year of release? 1999
--------------------
O campo Name tem o valor Super Mario
O campo Console tem o valor Super Nintendo
O campo Year tem o valor 1990
O campo Name tem o valor Zelda Ocarina of Time
O campo Console tem o valor Nintendo 64
O campo Year tem o valor 1998
O campo Name tem o valor Pokemon Yellow
O campo Console tem o valor Game Boy
O campo Year tem o valor 1999

In [20]:
games = {'Name':['Super Mario', 'Zelda the Ocarina of Time', 'Pokemon Yellow'], 
         'Console':['Super Nintendo', 'Nintendo 64', 'Game Boy'],
         'Year':[1990, 1998, 1999]}
print(games)

{'Name': ['Super Mario', 'Zelda the Ocarina of Time', 'Pokemon Yellow'], 'Console': ['Super Nintendo', 'Nintendo 64', 'Game Boy'], 'Year': [1990, 1998, 1999]}

In [22]:
games = {'Name':[], 'Console':[], 'Year':[]}
for i in range(3):
  name = input("What's the name of the game ? ")
  console = input("For what console there was been released ? ")
  year = input("What's the year of release ? ")
  games['Name'].append(name)
  games['Console'].append(console)
  games['Year'].append(year)
print('-' * 20)
print(games)

What's the name of the game ? Super Mario
For what console there was been released ? Super Nintendo
What's the year of release ? 1990
What's the name of the game ? Zelda
For what console there was been released ? Nintendo 64
What's the year of release ? 1998
What's the name of the game ? Sonic
For what console there was been released ? Mega Drive
What's the year of release ? 1999
--------------------
{'Name': ['Super Mario', 'Zelda', 'Sonic'], 'Console': ['Super Nintendo', 'Nintendo 64', 'Mega Drive'], 'Year': ['1990', '1998', '1999']}

In [ ]:
# Exercise One
student = {}
student['Name'] = input("What's the name of the student ? ")
n1 = float(input("What's the first grade ? "))
n2 = float(input("What's the second grade ? "))
n3 = float(input("What's the third grade ? "))
student['Average'] = (n1 + n2 + n3) / 3
if student['Average'] >= 7:
  student['Status'] = 'A'
elif student['Average'] >= 5 and student['Average'] < 7:
  student['Status'] = 'E'
else:
  student['Status'] = 'R'

for i, j in student.items():
  print('{} = {}'.format(i, j))

In [27]:
# Exercise Two
store = {'rabbits':[100, 0.99],
        'brócoli':[50, 3.99],
        'potato':[200, 0.49],
        'onion':[75, 1.10]}

request = []
while True:
   item_name = input('Insert the name of the item that you want to buy: ')
   item_qtd = int(input('Do you wish to buy how many: '))
   request.append([item_name, item_qtd])
   res = input('Do you wish to add another item ? [S/N]')
   if res in 'Nn':
     break
total = 0
print('\nSales:')
for item in request:
  product = item[0]
  qtd = item[1]
  price = store[product][1]
  product_value = price * qtd
  print('{}: {} x {} = {}'.format(product, qtd, price, product_value))
  store[product][0] -= qtd
  total += product_value
print('Total cost: {}\n'.format(total))
print('Inventory: ')
for i,j in store.items():
  print('Description: ', i)
  print('Quantity: ',j[0])
  print('Price: {}\n'.format(j[1]))

Insert the name of the item that you want to buy: rabbits
Do you wish to buy how many: 2
Do you wish to add another item ? [S/N]n

Sales:
rabbits: 2 x 0.99 = 1.98
Total cost: 1.98

Inventory:
Description:  rabbits
Quantity:  98
Price: 0.99

Description:  brócoli
Quantity:  50
Price: 3.99

Description:  potato
Quantity:  200
Price: 0.49

Description:  onion
Quantity:  75
Price: 1.1

In [1]:
s1 = 'Algoritmos'
print(s1)
s1[0] = 'a'

Algoritmos

TypeError: ignored

In [3]:
s1 = list('Algoritmos')
print(s1) # Print separado
print(''.join(s1)) # Print agrupado
print('-'.join(s1))

['A', 'l', 'g', 'o', 'r', 'i', 't', 'm', 'o', 's']
Algoritmos
A-l-g-o-r-i-t-m-o-s

In [4]:
s1 = 'Algoritms and Programming logic'
s1.startswith('Lógica')

True

In [5]:
s1 = 'Algoritms and Programming logic'
s1.endswith('logic')

True

In [6]:
s1 = 'Algoritms and Programming logic'
s1.endswith('Logic')

False

In [7]:
s1 = 'Algoritms and Programming logic'
s1.lower().endswith('logic')

True

In [8]:
s1 = 'Algoritms and Programming logic'
s1.upper().endswith('LOGIC')

True

In [9]:
s1 = 'Algoritms and Programming logic'
print(s1.upper())
print(s1.lower())

ALGORITMS AND PROGRAMMING LOGIC
algoritms and programming logic

In [13]:
s1 = 'Algoritms and Programming logic'
s1.lower().count('a')

3

In [18]:
s1 = 'One plate, two plates, three plates...'
s1.lower().count('plate')

3

In [21]:
s1 = 'One plate, two plates, three plates...'
s1.split(' ')

['One', 'plate,', 'two', 'plates,', 'three', 'plates...']

In [22]:
s1 = 'One plate, two plates, three plates'
s1.replace('plate', 'car')

'One car, two cars, three cars'

In [23]:
s1 = 'One plate, two plates, three plates'
s1.replace('plate', 'cat', 1)

'One cat, two plates, three plates'

In [27]:
s1 = 'Algoritms and Programming Logic'
s2 = '42'
s3 = 'Algoritms'

print(s1.isalnum())
print(s2.isalnum())
print(s3.isalnum())

False
True
True

In [28]:
print(s1.isalpha())
print(s2.isalpha())
print(s3.isalpha())

False
False
True

In [29]:
s1 = 'AlgoritmsAndProgrammingLogic'
print(s1.isalpha())

True